.App {
  text-align: center;
}
.redBox{
  width: 500px;
  height:500px;
  background-color: red;
}

.label {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
.toggleButton{
  margin-left :10px;
  font-size: larger;
  
}
.shapeArea{
  margin-left:20px;
  font-size: 30px;
}